@model Infrastructure.HelpingModel.API.BookingDetail
@using Infrastructure.HelpingModel.API;
@using Common
@using Infrastructure
@{
    <title>Review Trip Details & Book : @Utility.PortalSettings.PortalDetails.BrandName</title>
    Layout = "~/Views/Shared/Mobile/_BookingPathLayout.cshtml";
}

<div id="resultsCntr">
    <div class="container">
        @using (Html.BeginForm("Payment", "Flights", FormMethod.Post, new { @id = "payment" }))
        {
            <input type="hidden" id="insTranscationId" name="TravelerInsurance.TransactionId" value="" />
            <input type="hidden" id="insCardType" name="TravelerInsurance.CardType" value="" />
            <input type="hidden" id="insToken" name="TravelerInsurance.Token" value="" />
            <input type="hidden" name="guid" id="guid" value="@Model.Contract.SearchGuid" />
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <span onclick="window.location='@string.Format("{0}flights/availability/{1}", Utility.PortalSettings.DomainUrl, Model.Contract.SearchGuid)'" class="backtoresults"><i class="bi bi-arrow-left"></i> Back to Results</span>

                    <div class="payment__wrapper">
                        <div class="payment__stepBox">
                            <ul>
                                <li class="step1li active" onclick="p.switchTab(1)"><i class="bi bi-check-circle"></i> Itinerary </li>
                                <li class="step2li" onclick="p.switchTab(2)"><i class="bi bi-check-circle"></i> Traveler</li>
                                <li class="step3li" onclick="p.switchTab(3)"><i class="bi bi-check-circle"></i> Payment</li>
                            </ul>
                        </div>
                        <div class="step_1">
                            <div class="securebooking__Box">
                                <div class="freeCancel">
                                    <i class="bi bi-check2"></i> Free cancellation within 24 hours <i class="bi bi-info-circle-fill"></i>
                                    <div class="tooltipBox">
                                        <ul>
                                            <li>Passengers can cancel the reservation within 24 hours of booking without any charges.</li>
                                            <li>Passengers need to call our 24*7 customer care center to request the cancellation.</li>
                                            <li>Passengers will receive the refund amount within 5-10 working days (Depending upon Airline policies)</li>
                                            <li>Some Airlines will provide future credits, so passengers can utilize the same for future travel.</li>
                                            <li>Agency fees are non-refundable in case of cancellation which is usually around $5 - $15.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="flight__itenaryBox">
                                <h2 class="page__title"><strong>Flight</strong> Detail</h2>
                                @{ Html.RenderPartial("~/views/flights/mobile/partial/_PaymentContract.cshtml", Model);}
                            </div>
                            @{ Html.RenderPartial("~/views/flights/mobile/partial/_ContactDetails.cshtml", Model);}
                            @*@{ Html.RenderPartial("~/views/flights/mobile/partial/_ExtendedCancellation.cshtml", Model);}*@
                            <div class="bottom__row">
                                <a href="javascript:void(0);" onclick="p.validatePayment(1);" class="continue__button continue__button_step1">Continue</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="travelerBox step_2" style="display:none;">
                            @{ Html.RenderPartial("~/views/flights/mobile/partial/_Travellers.cshtml", Model);}
                            <div class="bottom__row">
                                <a href="javascript:void(0);" onclick="p.validatePayment(2);" class="continue__button continue__button_step2">Continue</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="paymentBox step_3" style="display:none;">
                            @{ Html.RenderPartial("~/views/flights/mobile/partial/_BillingDetails.cshtml", Model);}
                            <div class="bottom_text inputSet theme2">

                                <h6>Review Information: <span id="dots">...</span></h6>
                                <div id="more">
                                    <p><b>Total price shown includes all applicable taxes and our fees. Some airlines may charge additional baggage fees or other fees. Fares are not guaranteed until ticketed.</b></p>
                                    <ul>
                                        <li>Most Fares are non-refundable..</li>
                                        <li>Some discounted tickets do not allow for frequent flyer mileage accrual. Please check with individual airline for details..</li>
                                        <li>All Date changes / Cancellations must be made prior to departure of the flight, and must be done directly with Trippro Support.</li>
                                    </ul>
                                    <p> <b>Note</b> - Some tickets are non refundable - and non transferable, All service fees are non-refundable. Name changes are not permitted. Fares are not guaranteed until ticketed. All changes are subject to availability, additional fees, airlines rules and regulations. All travelers must confirm that their travel documents required are current and valid for your destination. View our user agreement for post booking charges and airline Fare Rules.</p>
                                </div>
                                <button onclick="myFunction()" id="myBtn" type="button">Read more</button>
                                <div class="bottom__row">
                                    <a href="javascript:void(0);" onclick="p.validatePayment(0);" class="continue__button confirm">
                                        Complete Booking
                                    </a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    
                    </div>

                </div>

                <div class="col-lg-12 col-md-12">
                    
                    <div id="price12">
                        @{ Html.RenderPartial("~/views/flights/mobile/partial/_PriceDetails.cshtml", Model);}

                    </div>

                </div>
            </div>

        }
    </div>
</div>
@{Html.RenderPartial("~/views/flights/mobile/partial/_ListingIdlePopup.cshtml");}
@if (Model.PriceIncrease > 0)
{
    float amount = Utility.GetAllTotalAmount(Model);
    Html.RenderPartial("~/views/flights/mobile/partial/_PriceIncreasePopup.cshtml", Tuple.Create<float, float, string>(amount, Model.PriceIncrease, Model.Contract.SearchGuid));
}
@section scripts{
    @{
        DateTime trvDate = Model.Contract.TripDetails.OutBoundSegment[0].Departure;
    }
    @Scripts.Render("~/bundles/m-payment-js")
    <script>
            DOMAIN_URL = "@Common.Utility.PortalSettings.DomainUrl";
            PAX_COUNTER = parseInt("@Model.Travellers.Count", 10);
            TRV_DATE = new Date(parseInt("@trvDate.Year", 10), parseInt("@trvDate.Month", 10) - 1, parseInt("@trvDate.Day", 10));
            PROVIDER = parseInt("@((int)Model.Contract.Provider)");
            setStateOnCountry();
            if (parseFloat("@Model.PriceIncrease", 10) > 0) {
            $(window).on('load', function () {
                $('#PriceIncreasePopup').show();
                });
            }
    </script>
}

<!--  / Promo  Box \ -->
<div class="popup_Box" style="display:none;">
    <div class="center-block">
        <div class="outer">
            <div class="promoBox">

                <h4>Select a Promo Code</h4>

                <div class="cuponBlock">
                    <div class="row">
                        <div class="col-12"><input type="text" placeholder="Enter coupon Code here" class="inputText"><button class="submit">Apply</button></div>

                        <div class="col-12 sucessfull mt-1">Promocode Applied!</div>
                        <div class="col-12 error mt-1">Invalid Promocode.</div>
                    </div>
                </div>

                <ul class="inputSet couponList">
                    <li>
                        <label>
                            <input type="radio" name="coupon"><span></span>
                            <div class="d-flex align-items-center">
                                <div class="promo-key">YTRBOBCC</div>
                                <div class="save">$15</div>
                            </div>
                            <p>Flat 15% OFF on using Bank of Baroda Credit Card.</p>
                        </label>
                    </li>

                    <li>
                        <label>
                            <input type="radio" name="coupon"><span></span>
                            <div class="d-flex align-items-center">
                                <div class="promo-key">FLASH24</div>
                                <div class="save">$20</div>
                            </div>
                            <p>Flat 15% OFF on using Bank of Baroda Credit Card.</p>
                        </label>
                    </li>

                    <li>
                        <label>
                            <input type="radio" name="coupon"><span></span>
                            <div class="d-flex align-items-center">
                                <div class="promo-key">YTPWR</div>
                                <div class="save">$10</div>
                            </div>
                            <p>Flat 15% OFF on using Bank of Baroda Credit Card.</p>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="coupon"><span></span>
                            <div class="d-flex align-items-center">
                                <div class="promo-key">YTZEST</div>
                                <div class="save">$5</div>
                            </div>
                            <p>Flat 15% OFF on using Bank of Baroda Credit Card.</p>
                        </label>
                    </li>
                </ul>

                <div class="popup-btn">

                    <button class="active searchbtn">Cancel</button>

                </div>


            </div>
        </div>
    </div>
</div>
<!--  \ Session expire Box / -->