@model Infrastructure.HelpingModel.API.Availability
@using Infrastructure.HelpingModel.API;
@using Common
@using Infrastructure

@if (Model != null && Model.Contracts != null && Model.Contracts.Count > 0)
{
    
<div class="col-lg-9">
    <h4 class="total_results"><span id="cuurentCount">@Model.Factes.TotalContract</span> Results Found</h4>
    @{ Html.RenderPartial("~/views/flights/partial/_Matrix.cshtml", Model.AirlineMatrixMain); }
    @if (Utility.Settings.IsListingPhoneStripEnable)
    {
        Contract minContract = Model.Contracts.FirstOrDefault();
        { Html.RenderPartial("~/views/flights/partial/_CallStrip.cshtml", minContract); }
    }

    @{
        Html.RenderPartial("~/views/flights/partial/_ListingTopTabs.cshtml", Model.Factes);
    }
    <div id="containerListing">
        @{
            Html.RenderPartial("~/views/flights/partial/_Contracts.cshtml", Model.Contracts);
        }
        @if (Model.Contracts != null && Model.Contracts.Count < 15)
        {
            <script>HitMoreResult = false;</script>
        }
        else
        {
            <script>HitMoreResult = true;</script>

        }
    </div>
</div>
}
else
{


        <div class="container ">

            <div class="no_resultsBox">
                <div class="block">
                    <div class="head">Oops! Result not found. Don't Worry!</div>
                    <p>No flights match to your search, Let our agents help you find the best flight options</p>
                    <img src="/images/icons/no-results.svg" class="img-fluid" alt="image">
                    <div class="callUs">Call our agents</div>
                    <a class="noResultTfn" href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber"> <i class="bi bi-telephone"></i> @Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber</a>
                    @*<div class="buttons text-center">
                <button type="button" class="btn backbutton button" onclick="window.location.assign('@Utility.PortalSettings.DomainUrl')" style="margin: 20px 0;">Back to Home </button>
            </div>*@
                    <div class="call">
                        <span>Our agents are available 24x7</span>

                    </div>
                </div>

            </div>
            

    </div>

}

@if (Model != null && Model.Contracts != null && Model.Contracts.Count > 0)
{
    <script>
         $(document).ready(function () {
    var iDepMin = 0, iDepMax = 0, iArrMin = 0, iArrMax = 0, iDurMin = 0, iDurMax = 0;
    @if (Model.Factes.TripType == TripType.ROUNDTRIP)
       {
        @Html.Raw("iDepMin=" + Model.Factes.InboundDepTime.Min + ";")
            @Html.Raw("iDepMax=" + Model.Factes.InboundDepTime.Max + ";")
            @Html.Raw("iArrMin=" + Model.Factes.InboundArrTime.Min + ";")
            @Html.Raw("iArrMax=" + Model.Factes.InboundArrTime.Max + ";")
            @Html.Raw("iDurMin=" + Model.Factes.InboundDuration.Min + ";")
            @Html.Raw("iDurMax=" + Model.Factes.InboundDuration.Max + ";")
       }
    contractFilter.setDefaultFilter("@Model.Contracts[0].SearchGuid", 0, 1, parseInt("@((int)Model.Factes.TripType)", 10), parseFloat("@Model.Factes.MinPrice", 10), parseFloat("@Model.Factes.MaxPrice", 10), parseInt("@((int)Model.Factes.OutboundDepTime.Min)", 10), parseInt("@((int)Model.Factes.OutboundDepTime.Max)", 10), parseInt("@((int)Model.Factes.OutboundArrTime.Min)", 10), parseInt("@((int)Model.Factes.OutboundArrTime.Max)", 10), parseInt("@((int)Model.Factes.OutboundDuration.Min)", 10), parseInt("@((int)Model.Factes.OutboundDuration.Max)", 10),
           iDepMin, iDepMax, iArrMin, iArrMax, iDurMin, iDurMax);
});

    </script>
}
