@model Infrastructure.HelpingModel.API.FlightSearch
@using Business;
@using Common;
@using Infrastructure;
@using (Html.BeginForm("searchengine", "flights", FormMethod.Post, new { @id = "flights" }))
{
    <div class="modifySearchBox">
        <div class="container">

            <div class="relative">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="tripType inputSet">
                            <li><label><input type="radio" onclick="callme('RoundTrip');" name="TripType" value="2" @string.Format("{0}", Model.TripType == TripType.ROUNDTRIP ? " checked " : "")><span>Round trip</span> </label></li>
                            <li><label><input type="radio" onclick="callme('OneWay');" id="oneway" name="TripType" value="1" @string.Format("{0}", Model.TripType == TripType.ONEWAY ? " checked " : "")><span>Oneway</span> </label></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="row row_margin">
                            <div class="col-lg-6 pad3px">
                                <div class="input__block label1 inputOrigin">
                                    <input type="text" autocomplete="off" onfocus="javascript:this.select();" placeholder="Origin city/airport" value="@Model.OriginSearch" id="OriginSearch" name="OriginSearch" class="inputField valid" />
                                    <span class="icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                        </svg>
                                    </span>
                                    <span id="Depart_error" class="error-div1 errortext">Please select an origin</span>
                                </div>
                            </div>
                            <div class="col-lg-6 pad3px">
                                <div class="input__block label1 inputDestination">
                                    <input type="text" autocomplete="off" onfocus="javascript:this.select();" placeholder="Destination city/airport" id="DestinationSearch" name="DestinationSearch" value="@Model.DestinationSearch" class="inputField" />
                                    <span class="icons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                        </svg>
                                    </span>
                                    <span id="Return_error" class="error-div1 errortext">Please select an destination</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 no-padding">
                        <div class="row row_margin2">
                            <div class="col-lg-9 no-padding">
                                <div class="row row_margin">
                                    <div class="col-lg-6 pad3px">
                                        <div class="dates">
                                            <div class="input__block col-50 label1 inputDepart">
                                                <input type="text" class="inputField cursor" placeholder="Depart" name="Departure" id="Departure" autocomplete="off" value="@(Model.Departure==DateTime.MinValue? "" : Model.Departure.ToString("MMM dd yyyy"))" readonly="" />
                                                <span class="icons">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                                    </svg>
                                                </span>
                                                <span id="Departure_error" class="error-div1 errortext">Please enter a Depart date</span>
                                            </div>

                                            <div class="input__block col-50 label1 inputReturn">
                                                <input type="text" placeholder="Return" class="inputField cursor" id="Return" name="Return" readonly autocomplete="off" value="@string.Format("{0}", Model.TripType == TripType.ROUNDTRIP ? (Model.Return==null || Model.Return==DateTime.MinValue)  ? "" : (Model.Return??DateTime.Now).ToString("MMM dd yyyy") : "")" @string.Format("{0}", Model.TripType == TripType.ROUNDTRIP ? (Model.Return == null || Model.Return == DateTime.MinValue) ? "disabled" : "" : "disabled") />
                                                <span class="icons">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                                    </svg>
                                                </span>
                                                <span id="ReturnDate_error" class="error-div1 errortext">Please enter a Return date</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 pad3px">
                                        <div class="input__block traveller">
                                            <input type="text" id="paxCounterVal" value="@Model.TotalPax() Traveler(s), Economy" class="inputField cursor" readonly />
                                            <span class="icons">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                                </svg>
                                            </span>
                                            <div class="error-div" id="TotalPax_error" style="display: none;">
                                                <span class="error-flL errorbox1"><i class="fa fa-exclamation-triangle"></i></span>
                                                <span class="error-flL error-innertxt">Total <b>'Infant'</b> not more then <b>'Adult'</b></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 pl-8"><button type="submit" class="searchButton">Modify</button></div>
                        </div>
                    </div>

                </div>

            </div>

            @{ Html.RenderPartial("~/views/flights/partial/_FlightSearchEnginePopUp.cshtml"); }
        </div>
    </div>

    <div class="search__infoBox">
        <div class="row">
            <div class="col-sm-12">
                <div class="city-itenery">

                    <div class="airportCode column">@Model.Origin</div>


                    <div class="airporticon column">
                        <!-- roundtrip arrow-->
                        <i class="bi bi-arrow-left-right"></i>
                    </div>


                    <div class="airportCode column">@Model.Destination</div>

                    <div class="clearfix"></div>

                    <!--Date Start -->
                    @if (Model.TripType == TripType.ROUNDTRIP)
                    {
                        <div class="itenery-date"> @(Model.Departure == DateTime.MinValue ? "" : Model.Departure.ToString("MMM dd yyyy"))<span style="margin:0 5px;">-</span> @string.Format("{0}", Model.TripType == TripType.ROUNDTRIP ? (Model.Return == null || Model.Return == DateTime.MinValue) ? "" : (Model.Return ?? DateTime.Now).ToString("MMM dd yyyy") : "") <span>&nbsp; | &nbsp;</span> @Model.TotalPax()&nbsp;Traveler</div>
                    }
                    else
                    {
                        <div class="itenery-date"> @(Model.Departure == DateTime.MinValue ? "" : Model.Departure.ToString("MMM dd yyyy"))<span style="margin:0 5px;"></span><span>&nbsp; | &nbsp;</span> @Model.TotalPax()&nbsp;Traveler</div>
                    }

                </div>
                <div class="modify_search_mobile"> <i class="bi bi-search"></i></div>
            </div>
        </div>
    </div>


    <div class="mobile__filter">
        <a href="javascript:void(0);" class="filter_link"><i class="bi bi-filter-circle-fill"></i></a>
        <ul>
            <li>Stops <a href="#" class="mobile__filter-clear"><i class="bi bi-x-circle"></i></a></li>
            <li>Price <a href="#" class="mobile__filter-clear"><i class="bi bi-x-circle"></i></a></li>
            <li>Time <a href="#" class="mobile__filter-clear"><i class="bi bi-x-circle"></i></a></li>
            <li class="active">Airlines <a href="#" class="mobile__filter-clear"><i class="bi bi-x-circle"></i></a></li>
        </ul>
    </div>
}
