@model Infrastructure.HelpingModel.API.BookingDetail
@using Infrastructure.HelpingModel;
@using Infrastructure.HelpingModel.API;
@using Infrastructure;
@using Common;
@{
    CurrencyMaster currencyMaster = Presentation.Controllers.ShareUtility.GetCurrency(Request);
}

<div class="sticky-div">
    <div class="price__Box">
        <h4 class="pageTitle"><b>Price</b> details</h4>
        <ul>
            @if (Model.Contract.Adult > 0 && Model.Contract.AdultFare != null)
            {
                <li>
                    <div class="row">
                        <div class="col-8">Adult (@Model.Contract.Adult x <span class="chgcomplete" default-price="@(Model.Contract.AdultFare.BaseFarePPax + Model.Contract.AdultFare.TaxPPax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.AdultFare.BaseFarePPax + Model.Contract.AdultFare.TaxPPax) * currencyMaster.CurrencyPrice)</span>)</div>
                        <div class="col-4 text-right chgcomplete" default-price="@(Model.Contract.AdultFare.TotalBaseFare + Model.Contract.AdultFare.TotalTax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.AdultFare.TotalBaseFare + Model.Contract.AdultFare.TotalTax) * currencyMaster.CurrencyPrice)</div>
                    </div>

                </li>
            }
            @if (Model.Contract.Adult > 0 && Model.Contract.ChildFare != null)
            {
                <li>
                    <div class="row">
                        <div class="col-8">Child (@Model.Contract.Child x <span class="chgcomplete" default-price="@(Model.Contract.ChildFare.BaseFarePPax + Model.Contract.ChildFare.TaxPPax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.ChildFare.BaseFarePPax + Model.Contract.ChildFare.TaxPPax) * currencyMaster.CurrencyPrice)</span>) </div> 
                        <div class="col-4 text-right chgcomplete" default-price="@(Model.Contract.ChildFare.TotalBaseFare + Model.Contract.ChildFare.TotalTax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.ChildFare.TotalBaseFare + Model.Contract.ChildFare.TotalTax) * currencyMaster.CurrencyPrice)</div>
                    </div>
                </li>
            }

            @if (Model.Contract.Adult > 0 && Model.Contract.InfantOnLapFare != null)
            {
                <li>
                    <div class="row">
                        <div class="col-8">Infant Lap (@Model.Contract.InfantOnLap x <span class="chgcomplete" default-price="@(Model.Contract.InfantOnLapFare.BaseFarePPax + Model.Contract.InfantOnLapFare.TaxPPax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.InfantOnLapFare.BaseFarePPax + Model.Contract.InfantOnLapFare.TaxPPax) * currencyMaster.CurrencyPrice)</span>) </div> 
                        <div class="col-4 text-right chgcomplete" default-price="@(Model.Contract.InfantOnLapFare.TotalBaseFare + Model.Contract.InfantOnLapFare.TotalTax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.InfantOnLapFare.TotalBaseFare + Model.Contract.InfantOnLapFare.TotalTax) * currencyMaster.CurrencyPrice)</div>
                    </div>
                </li>
            }

            @if (Model.Contract.Adult > 0 && Model.Contract.InfantOnSeatFare != null)
            {
                <li>
                    <div class="row">
                        <div class="col-8">Infant Seat (@Model.Contract.InfantOnSeat x <span class="chgcomplete" default-price="@(Model.Contract.InfantOnSeatFare.BaseFarePPax + Model.Contract.InfantOnSeatFare.TaxPPax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.InfantOnSeatFare.BaseFarePPax + Model.Contract.InfantOnSeatFare.TaxPPax) * currencyMaster.CurrencyPrice)</span>)</div> 
                        <div class="col-4 text-right chgcomplete" default-price="@(Model.Contract.InfantOnSeatFare.TotalBaseFare + Model.Contract.InfantOnSeatFare.TotalTax)">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.InfantOnSeatFare.TotalBaseFare + Model.Contract.InfantOnSeatFare.TotalTax) * currencyMaster.CurrencyPrice)</div>
                    </div>

                </li>
            }
            @if (Model.ExtendedCancellation != null && Model.ExtendedCancellation.IsExtendedCancellation)
            {

                <li>
                    <div class="row accordian_toggle">
                        <div class="col-8">Extended Cancel <i class="fa fa-angle-down"></i></div> 
                        <div class="col-4 text-right chgcomplete" default-price="@Model.ExtendedCancellation.TotalPrice">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Convert.ToSingle(Model.ExtendedCancellation.TotalPrice) * currencyMaster.CurrencyPrice))</div>
                    </div>
                    <div class="accordian-slide">
                        <div class="row">
                            <div class="col-8">
                                @(Model.Contract.Adult + Model.Contract.Child + Model.Contract.InfantOnLap + Model.Contract.InfantOnSeat + Model.Contract.Senior) Traveller(s) X <span class="chgcomplete" default-price="@Model.ExtendedCancellation.PPaxPrice">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, Convert.ToSingle(Model.ExtendedCancellation.PPaxPrice) * currencyMaster.CurrencyPrice)</span><br>
                            </div>
                            <div class="col-4 text-right">
                                <span class="chgcomplete" default-price="@Model.ExtendedCancellation.TotalPrice">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Convert.ToSingle(Model.ExtendedCancellation.TotalPrice) * currencyMaster.CurrencyPrice))</span><br>

                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (Model.CouponDetails != null && Model.CouponDetails.Status == true)
            {
                <li>
                    <div class="row disscount--price">
                        <div class="col-8">Discount</div> <div class="col-4 text-right chgdiscount" default-price="@Model.CouponDetails.TotalAmount">-@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.CouponDetails.TotalAmount * currencyMaster.CurrencyPrice))</div>
                    </div>
                </li>
            }
            @*<li class="cuponBlock">
                    <div class="row">
                        <div class="col-12"><input type="text" placeholder="Enter coupon Code here" class="inputText" /><button class="submit">Apply</button></div>
                    </div>
                </li>*@
        </ul>
        <div class="total_price">
            <div class="row">
                <div class="col-7">Total Price (<span class="chgtype">@currencyMaster.CurrencyType</span>)</div>
                <div class="col-5 text-right chgcomplete" default-price="@(Model.Contract.TotalGDSFareV2 + (Model.ExtendedCancellation != null && Model.ExtendedCancellation.IsExtendedCancellation ? Convert.ToSingle(Model.ExtendedCancellation.TotalPrice) : 0.00) - (Model.CouponDetails != null ? Model.CouponDetails.TotalAmount : 0))">@String.Format("{0}{1:0.00}", currencyMaster.CurrencySymbol, (Model.Contract.TotalGDSFareV2 + (Model.ExtendedCancellation != null && Model.ExtendedCancellation.IsExtendedCancellation ? Convert.ToSingle(Model.ExtendedCancellation.TotalPrice) : 0.00) - (Model.CouponDetails != null ? Model.CouponDetails.TotalAmount : 0)) * Convert.ToDouble(currencyMaster.CurrencyPrice))</div>
            </div>
        </div>
        <div class="price__note">
            All Fares displayed are quoted in <span class="chgtype">@currencyMaster.CurrencyType</span>.

        </div>
    </div>
    <div class="securebooking__Box d-none d-md-block">
        <div class="freeCancel">
            <i class="bi bi-check2"></i> Free cancellation within 24 hours <i class="bi bi-info-circle-fill"></i>
            <div class="tooltipBox">
                <ul>
                    <li>Passengers can cancel the reservation within 24 hours of booking without any charges.</li>
                    <li>Passengers need to call our 24*7 customer care center to request the cancellation.</li>
                    <li>Passengers will receive the refund amount within 5-10 working days (Depending upon Airline policies)</li>
                    <li>Some Airlines will provide future credits, so passengers can utilize the same for future travel.</li>
                    <li>Agency fees are non-refundable in case of cancellation which is usually around $5 - $15.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="timerSec">
        <p>Fare will expire:</p>
        <p id="timerCount"></p>
    </div>

      <div class="reviewSec">
        <!-- TrustBox widget - Micro TrustScore -->
        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b637fa0340045cd0c936" data-businessunit-id="5d145a05084e0f0001d6f2df" data-style-height="20px" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/wizfairvacation.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->

        <div class="accrBusin">
            <span><img src="~/Images/footer/iata.png" alt="iata" /></span>
            <span><a href="https://www.bbb.org/us/nj/iselin/profile/travel-agency/wizfair-llc-0221-90190908?utm_campaign=bbb_seal&utm_content=Wizfair%20LLC&utm_medium=website&utm_source=seal_click_90190908" target="_blank"><img src="~/Images/footer/bbb.jpg" alt="bbc" /></a></span>
            <span><img src="~/Images/footer/arc.jpg" alt="arc" /></span>
        
        </div>
    </div>


</div>
