@using Common;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="Author" content="@Utility.PortalSettings.Domain">
    <meta name="page-topic" content="@Utility.PortalSettings.Domain">
    <meta name="Copyright" content="@string.Format("{0},  {1}", DateTime.Now.ToString("yyyy"), Utility.PortalSettings.Domain)">
    <link rel="icon" href="@string.Format("{0}/favicon.ico", Utility.PortalSettings.DomainUrl)" type="image/x-icon" />
    <meta name="robots" content="" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/js")
    @RenderSection("headerSection", required: false)
    <script>
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "d5zxdvf6ag");
</script>
</head>

<body onLoad="noBack();" id="target" onpageshow="if (event.persisted) noBack();" onUnload="">
    <div id="wrapper">
        <div id="mainCntr">

            @RenderBody()

        </div>
    </div>
<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.defer = true;
    mf.src = "//cdn.mouseflow.com/projects/dc47f3ce-32c1-4603-9418-84cb00dfc03f.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>

    @RenderSection("scripts", required: false)
</body>

</html>


