@using Common;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="Author" content="@Utility.PortalSettings.Domain">
    <meta name="page-topic" content="@Utility.PortalSettings.Domain">
    <meta name="Copyright" content="@string.Format("{0},  {1}", DateTime.Now.ToString("yyyy"), Utility.PortalSettings.Domain)">
    <link rel="icon" href="@string.Format("{0}/favicon.ico", Utility.PortalSettings.DomainUrl)" type="image/x-icon" />
    <meta name="robots" content="" />
    <link rel="shortcut icon" href="/images/favicon.ico?v=123" type="image/x-icon" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/js")
    @RenderSection("headerSection", required: false)
    <script>
        var numberOfMonthValue;
        $(window).resize(function () {
            if ($(window).width() < 768) {
                numberOfMonthValue = 1;
                $("#departDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
                $("#returnDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
            } else {
                numberOfMonthValue = 2;
                $("#departDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
                $("#returnDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
            }
        })
            .trigger('resize');

    </script>


</head>

<body class="results_body">
    <div id="wrapper">
        <div id="mainCntr">
            <div class="flow-menu">
                @{Html.RenderPartial("~/views/shared/partial/_bookingpathheader.cshtml", null);}
            </div>
            @RenderBody()
            @{Html.RenderPartial("~/views/shared/partial/_bookingpathfooter.cshtml", null);}
        </div>
    </div>
    
</body>
<script>
    C_D = new Date('@System.DateTime.Now.AddHours(24).ToString("yyyy-MM-dd HH:mm:ss")')
    DOMAIN_URL = "@Common.Utility.PortalSettings.DomainUrl";
    AFFILIATE_ID = parseInt("@ViewBag.AffiliateId", 10);
    Toll_Free_Number = "tel:@ViewBag.TollFreeNumber";
</script>
@RenderSection("scripts", required: false)
</html>


