@using Common;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="Author" content="@Utility.PortalSettings.Domain">
    <meta name="page-topic" content="@Utility.PortalSettings.Domain">
    <meta name="Copyright" content="@string.Format("{0},  {1}", DateTime.Now.ToString("yyyy"), Utility.PortalSettings.Domain)">
    <link rel="icon" href="@string.Format("{0}/favicon.ico", Utility.PortalSettings.DomainUrl)" type="image/x-icon" />
    <meta name="robots" content="" />
    <link rel="shortcut icon" href="/images/favicon.ico?v=123" type="image/x-icon" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    @Styles.Render("~/content/css")
   <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("headerSection", required: false)
    <script>
        var numberOfMonthValue;
        $(window).resize(function () {
            if ($(window).width() < 768) {
                numberOfMonthValue = 1;
                $("#departDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
                $("#returnDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
            } else {
                numberOfMonthValue = 2;
                $("#departDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
                $("#returnDate").datepicker("option", "numberOfMonths", numberOfMonthValue);
            }
        })
            .trigger('resize');

    </script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N7S3NK6');</script>
<!-- End Google Tag Manager -->


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/62b611c87b967b117996629d/1g6bjaum1';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "d5zxdvf6ag");
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1551021027891495"
     crossorigin="anonymous"></script>

</head>

<body class="results_body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7S3NK6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">
        <div id="mainCntr">
            <div class="flow-menu">
                @{Html.RenderPartial("~/views/shared/partial/_bookingpathheader.cshtml", null);}
            </div>
            @RenderBody()
            @{Html.RenderPartial("~/views/shared/partial/_bookingpathfooter.cshtml", null);}
        </div>
    </div>

<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.defer = true;
    mf.src = "//cdn.mouseflow.com/projects/dc47f3ce-32c1-4603-9418-84cb00dfc03f.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>
</body>
<script>
    C_D = new Date('@System.DateTime.Now.AddHours(24).ToString("yyyy-MM-dd HH:mm:ss")')
    DOMAIN_URL = "@Common.Utility.PortalSettings.DomainUrl";
    AFFILIATE_ID = parseInt("@ViewBag.AffiliateId", 10);
    Toll_Free_Number = "tel:@ViewBag.TollFreeNumber";
</script>
@RenderSection("scripts", required: false)
</html>


