@model Infrastructure.HelpingModel.BookingEntities.BookingDetails
@using Infrastructure.HelpingModel.BookingEntities;
@using Common
@using Infrastructure
@{
    string basicEcoAirline = string.Empty;
    decimal totalBaseFare = 0.0M;
    decimal totalTaxFare = 0.0M;
    decimal totalFare = 0.0M;
    decimal extendedCancelFee = 0.0M;
    decimal totalBookingFee = 0.0M;
    decimal discount = 0.0M;
    List<FlightSegments> outboudSegments = null;
    List<FlightSegments> inboundSegments = null;
}

@if (Model != null && Model.BillingDetails != null && (Model.Segments != null && Model.Segments.Count > 0) && Model.Transaction != null && (Model.PriceDetail != null && Model.PriceDetail.Count > 0) && (Model.Travellers != null && Model.Travellers.Count > 0))
{
    outboudSegments = Model.Segments.Where(o => !o.IsReturn).ToList();
    inboundSegments = Model.Segments.Where(o => o.IsReturn).ToList();
    decimal currencyPrice = Model.Transaction.CurrencyPrice;
    string currencySymbol = Presentation.Controllers.ShareUtility.GetCurrencySymbol(Model.Transaction.CurrencyCode);
    string currecnyType = Model.Transaction.CurrencyCode;
    <!DOCTYPE html>
    <html>
    <head>
        <title>Confirmation Emailer</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="keywords" content="Cheap Tickets, Cheap Airline Tickets, Travel Deals, Hotel Deals, Car Rental Deals, the SmartFlights Fares" />
        <meta name="description" content="Search thousands of cheap tickets and cheap flights to your favorite destinations around the world. Book vacations, find hotels and explore numerous flight deals on the @Utility.PortalSettings.Domain" />
        <style>
            p {
                margin: 0;
            }
        </style>
    </head>
    <body style="margin: 0px; padding: 0px; background: #F5F5F8; color: #2c363a;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="background: #F5F5F8; font-family: Open Sans,Arial, Helvetica, sans-serif;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="background:#fff; font-size:14px; display:block; padding:10px 20px;">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" padding:10px 20px;>
                                    <tr>
                                        <td style="width:60%;" align="left">
                                            <img src="@Utility.PortalSettings.PortalDetails.Logo" style="width:120px;" alt="logo" />
                                            <img src="@string.Format("{0}/Images/by-wizfair.png",Utility.PortalSettings.DomainUrl)" style="float:right" alt="wizfair" />
                                        </td>
                                        <td align="right" style="text-align:right;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td> <div style="font-size:13px; color:#393939;">Call us 24 X 7</div> </td>
                                                </tr>
                                                <tr> <td> <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber" style="font-size: 16px; color: #73cf3a; font-weight: 700; text-decoration: none;">@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber</a></td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr><td colspan="2" height="5"></td></tr>
                                    <tr><td colspan="2" height="1" style="background:#f0f0f0;"></td></tr>
                                    <tr><td colspan="2" height="10"></td></tr>
                                    <tr>
                                        <td style="font-size:16px; font-weight:bold; width:50%;">
                                            Booking Number: <span style="color: #ee5f20">@Model.Transaction.Id</span><br />
                                            Airline Confirmation #: <span style="color: #ee5f20">@Model.Transaction.PNR</span>
                                        </td>
                                        <td style="font-size: 16px; font-weight: bold; width: 50%; text-align:right;"> Booking Date: <span style="color: #ee5f20">@Model.Transaction.BookedOn.ToString("dd MMM yyyy")</span></td>
                                    </tr>

                                    <tr><td colspan="2" height="20"></td></tr>
                                    <tr>
                                        <td colspan="2">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                <tr>
                                                    <td>
                                                        <p style="padding-bottom:10px;">
                                                            Dear <strong style="color: #515050; ">
                                                                @string.Format("{0}", Model.Travellers != null && Model.Travellers.Count > 0 ? string.Format("{0} {1}", Utility.GetTitleCase(Model.Travellers[0].FirstName), Utility.GetTitleCase(Model.Travellers[0].LastName)) : "User"),

                                                            </strong>
                                                        </p>

                                                        <p style="color: #00236c; font-weight: 700; text-align: center; padding-bottom: 15px; font-size: 16px;">THANK YOU!</p>
                                                        <p>This is your booking request acknowledgement. Your payment has been submitted and we are handling your request, Your e-ticket will be issued shortly once your debit/credit card verification has been completed.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <p>
                                                            <strong>Note: </strong>Fares are not guaranteed until ticketed in rare event fares may increase. You will receive a call from our travel advisor if fare may expire or debit/credit card declines.
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="padding:5px 0;">For immediate Assistance on your booking, please call us at <a href="tel:@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber" style="font-size:16px; color:#73cf3a; font-weight:700; text-decoration:none;">@Utility.PortalSettings.PortalDetails.DefaultTollFreeNumber</a></p>
                                                    </td>
                                                </tr>


                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr><td height="20"></td></tr>


                        <!-- Traveler information Start here-->
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                    <tr>
                                        <td colspan="3" style="font-size: 18px; color: #00236c; font-weight: 700; padding: 0px; border-bottom: 1px solid #00236c;">
                                            Traveler Information
                                        </td>
                                    </tr>
                                    <tr><td height="10"></td></tr>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Gender</strong></td>
                                        <td><strong>DOB</strong></td>
                                    </tr>
                                    @if (Model.Travellers != null && Model.Travellers.Count > 0)
                                    {
                                        foreach (Travellers item in Model.Travellers)
                                        {
                                            <tr style="border-bottom: 1px solid #e7e7e7; padding:5px 0;">
                                                <td>@Utility.GetTitleCase(string.Format("{0}{1}{2}", item.FirstName, string.IsNullOrEmpty(item.MiddleName) ? " " : string.Format(" {0} ", item.MiddleName), item.LastName).ToLower())</td>
                                                <td>@Utility.GetEnumDescription((GenderType)item.Gender)</td>
                                                <td>@string.Format("{0}", item.DOB == null ? "--" : (item.DOB ?? DateTime.Now).ToString("dd MMM yyyy"))</td>
                                            </tr>

                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                        <!-- Traveler information End here-->

                        <tr><td height="20"></td></tr>
                        <tr>
                            <td style="font-size: 18px; color: #00236c; font-weight: 700; padding: 0px; border-bottom: 1px solid #00236c;">Flight Details</td>
                        </tr>
                        @{
                            string airline = string.Empty;
                            TimeSpan totalLayoverTimeOutbound = new TimeSpan(0, 0, 0);
                            TimeSpan totalLayoverTimeInbound = new TimeSpan(0, 0, 0);

                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        @{
                                            for (int i = 0; i <= outboudSegments.Count - 1; i++)
                                            {
                                                FlightSegments item = outboudSegments[i];

                                                airline = Utility.GetAilineName(item.MarketingCode);
                                                if ((CabinType)item.Cabin == CabinType.BasicEconomy && Utility.Settings.BasicEconomyAirlines.Contains(item.MarketingCode) && string.IsNullOrEmpty(basicEcoAirline))
                                                {

                                                    basicEcoAirline = item.MarketingCode;
                                                }


                                                if (i == 0)
                                                {
                                                    <tr><td height="10"></td></tr>
                                                    <tr><td style=" font-weight:600; color: #393939; padding:10px; background: #e9f4f8; line-height:1;">Departure  <span style="float:right;">@Utility.GetDuration(TimeSpan.FromMinutes(Model.Flight.OutBoundFlightDuration) + totalLayoverTimeOutbound) - @string.Format("{0}", outboudSegments.Count == 1 ? "Non Stop" : outboudSegments.Count - 1 + " Stops")</span></td></tr>
                                                }
                                                if (i != 0)
                                                {
                                                    DateTime arrivalTime = new DateTime(Convert.ToDateTime(outboudSegments[i - 1].ArrivalDateTime).Year, Convert.ToDateTime(outboudSegments[i - 1].ArrivalDateTime).Month, Convert.ToDateTime(outboudSegments[i - 1].ArrivalDateTime).Day, Convert.ToDateTime(outboudSegments[i - 1].ArrivalDateTime).Hour, Convert.ToDateTime(outboudSegments[i - 1].ArrivalDateTime).Minute, 0);
                                                    TimeSpan layoverTime = new DateTime(Convert.ToDateTime(item.DeptDateTime).Year, Convert.ToDateTime(item.DeptDateTime).Month, Convert.ToDateTime(item.DeptDateTime).Day, Convert.ToDateTime(item.DeptDateTime).Hour, Convert.ToDateTime(item.DeptDateTime).Minute, 0) - arrivalTime;
                                                    if (layoverTime != TimeSpan.MinValue)
                                                    {
                                                        <tr><td height="15"></td></tr>
                                                        <tr><td style="text-align:left; color:#303030; padding:5px; font-weight:600; "><img src="@string.Format("{0}/images/watch.png", Utility.PortalSettings.DomainUrl)" alt="" style="margin-right:5px; vertical-align: middle;" />Layover : @Utility.GetDuration(layoverTime)</td></tr>
                                                        totalLayoverTimeOutbound = totalLayoverTimeOutbound + layoverTime;
                                                    }
                                                }


                                                <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:block; padding-top:10px;">
                                                            <tr>
                                                                <td style="width: 60px;"><img src="@string.Format(Utility.PortalSettings.AirlineLogoLocation, item.MarketingCode.ToUpper())" alt="@item.MarketingCode" style="padding-right:10px" /></td>
                                                                <td>
                                                                    <p><strong style="font-size: 14px; color:#303030;">@airline</strong> <span style="color: #00236c; font-weight:600;">( Departs at @string.Format("{0}", item.DeptDateTime == null ? "--" : (item.DeptDateTime ?? DateTime.Now).ToString("hh:mm tt")) @string.Format("{0}", item.DeptDateTime == null ? "--" : (item.DeptDateTime ?? DateTime.Now).ToString("ddd, MMM dd")))</span></p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:block; padding-top:10px;">
                                                                        <tr>
                                                                            <td style="width:20px;padding-left:10px;">
                                                                                <img src="@string.Format("{0}/images/flight-flow.jpg", Utility.PortalSettings.DomainUrl)" alt="layover" style="height:auto;" />
                                                                            </td>
                                                                            <td style="color:#6B6B6B;text-align:left; padding-left:10px" align="left">
                                                                                <p>Flight No: @item.FlightNumber | @item.MarketingCode.ToUpper()-@item.FlightNumber Operated by: @airline</p>
                                                                                <p>@Utility.GetAirportName(item.Origin) (@item.Origin) to @Utility.GetAirportName(item.Destination) (@item.Destination)</p>
                                                                                <p style="font-weight:600; color:#303030; font-size:15px;">Arrives at (@item.Destination), @string.Format("{0}", item.ArrivalDateTime == null ? "--" : (item.ArrivalDateTime ?? DateTime.Now).ToString("hh:mm tt")) on @string.Format("{0}", item.ArrivalDateTime == null ? "--" : (item.ArrivalDateTime ?? DateTime.Now).ToString("ddd, MMM dd")))</p>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </table>
                                </td>

                            </tr>


                            if (inboundSegments != null && inboundSegments.Count > 0)
                            {
                                <tr><td height="20"></td></tr>

                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            @{
                                                for (int i = 0; i <= inboundSegments.Count - 1; i++)
                                                {
                                                    FlightSegments item = inboundSegments[i];

                                                    airline = Utility.GetAilineName(item.MarketingCode);
                                                    if ((CabinType)item.Cabin == CabinType.BasicEconomy && Utility.Settings.BasicEconomyAirlines.Contains(item.MarketingCode) && string.IsNullOrEmpty(basicEcoAirline))
                                                    {

                                                        basicEcoAirline = item.MarketingCode;
                                                    }


                                                    if (i == 0)
                                                    {
                                                        <tr><td style=" font-weight:600; color: #393939; padding:10px; background: #e9f4f8; line-height:1;">Return <span style="float:right;">@Utility.GetDuration(TimeSpan.FromMinutes(Model.Flight.InBoundFlightDuration) + totalLayoverTimeInbound) - @string.Format("{0}", inboundSegments.Count == 1 ? "Non Stop" : inboundSegments.Count - 1 + " Stops")</span></td></tr>
                                                    }
                                                    if (i != 0)
                                                    {
                                                        DateTime arrivalTime = new DateTime(Convert.ToDateTime(inboundSegments[i - 1].ArrivalDateTime).Year, Convert.ToDateTime(inboundSegments[i - 1].ArrivalDateTime).Month, Convert.ToDateTime(inboundSegments[i - 1].ArrivalDateTime).Day, Convert.ToDateTime(inboundSegments[i - 1].ArrivalDateTime).Hour, Convert.ToDateTime(inboundSegments[i - 1].ArrivalDateTime).Minute, 0);
                                                        TimeSpan layoverTime = new DateTime(Convert.ToDateTime(item.DeptDateTime).Year, Convert.ToDateTime(item.DeptDateTime).Month, Convert.ToDateTime(item.DeptDateTime).Day, Convert.ToDateTime(item.DeptDateTime).Hour, Convert.ToDateTime(item.DeptDateTime).Minute, 0) - arrivalTime;
                                                        if (layoverTime != TimeSpan.MinValue)
                                                        {
                                                            <tr><td height="15"></td></tr>
                                                            <tr><td style="text-align: left; color: #303030; padding: 5px; font-weight: 600;"><img src="@string.Format("{0}/images/watch.png", Utility.PortalSettings.DomainUrl)" alt="" style="margin-right:5px; vertical-align: middle;" />Layover : @Utility.GetDuration(layoverTime)</td></tr>
                                                            totalLayoverTimeOutbound = totalLayoverTimeOutbound + layoverTime;
                                                        }
                                                    }

                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:block; padding-top:10px;">
                                                                <tr>
                                                                    <td style="width: 60px;"><img src="@string.Format(Utility.PortalSettings.AirlineLogoLocation, item.MarketingCode.ToUpper())" alt="@item.MarketingCode" style="padding-right:10px" /></td>
                                                                    <td>
                                                                        <p><strong style="font-size: 14px; color:#303030;">@airline</strong> <span style="color: #00236c; font-weight:600;">( Departs at @string.Format("{0}", item.DeptDateTime == null ? "--" : (item.DeptDateTime ?? DateTime.Now).ToString("hh:mm tt")) @string.Format("{0}", item.DeptDateTime == null ? "--" : (item.DeptDateTime ?? DateTime.Now).ToString("ddd, MMM dd")))</span></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:block; padding-top:10px;">
                                                                            <tr>
                                                                                <td style="width:20px;padding-left:10px;">
                                                                                    <img src="@string.Format("{0}/images/flight-flow.jpg", Utility.PortalSettings.DomainUrl)" alt="layover" style="height:auto;" />
                                                                                </td>
                                                                                <td style="color:#6B6B6B;text-align:left; padding-left:10px" align="left">
                                                                                    <p>Flight No: @item.FlightNumber | @item.MarketingCode.ToUpper()-@item.FlightNumber Operated by: @airline</p>
                                                                                    <p>@Utility.GetAirportName(item.Origin) (@item.Origin) to @Utility.GetAirportName(item.Destination) (@item.Destination)</p>
                                                                                    <p style="font-weight:600; color:#303030; font-size:15px;">Arrives at (@item.Destination), @string.Format("{0}", item.ArrivalDateTime == null ? "--" : (item.ArrivalDateTime ?? DateTime.Now).ToString("hh:mm tt")) on @string.Format("{0}", item.ArrivalDateTime == null ? "--" : (item.ArrivalDateTime ?? DateTime.Now).ToString("ddd, MMM dd")))</p>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                        </table>
                                    </td>

                                </tr>
                            }
                        }
                        <tr><td height="20"></td></tr>

                        <!-- Contact information Start here-->
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                    <tr><td colspan="2" style="font-size: 18px; color: #00236c; font-weight: 700; padding: 0px; border-bottom: 1px solid #00236c;">Contact Information</td></tr>
                                    <tr><td height="10"></td></tr>
                                    <tr>
                                        <td><strong>Contact Number</strong></td>
                                        <td><strong>E-mail</strong></td>
                                    </tr>

                                    <tr>
                                        <td>@Model.BillingDetails.BillingPhone</td>
                                        <td>@Model.BillingDetails.Email</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- Contact information End here-->
                        <!-- spacer-->
                        <tr><td height="20"></td></tr>

                        <!-- Price detail Start here-->
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                    <tr><td style="font-size: 18px; color: #00236c; font-weight: 700; padding: 0px; border-bottom: 1px solid #00236c;">Price Details</td></tr>

                                    <tr>
                                        <td style="padding:10px; line-height:20px; ">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="6">

                                                @{

                                                    foreach (PriceDetails item in Model.PriceDetail)
                                                    {
                                                        totalFare = totalFare + (item.BaseFare + item.Tax + item.Markup + item.SupplierFee + item.BookingFee) * item.PaxCount;
                                                        totalBaseFare = totalBaseFare + (item.BaseFare * item.PaxCount);
                                                        totalTaxFare = totalTaxFare + (item.Tax + item.Markup + item.SupplierFee) * item.PaxCount;
                                                        extendedCancelFee = extendedCancelFee + (item.IsExtendedCancellation ? item.ExtendedCancellationAmount : 0) * item.PaxCount;
                                                        totalBookingFee = totalBookingFee + (item.BookingFee * item.PaxCount);
                                                        discount = discount + (item.Discount * item.PaxCount);

                                                        <tr>
                                                            <td style="padding-top:5px; padding-bottom:5px;">
                                                                @Utility.GetEnumDescription((TravellerPaxType)item.PaxType) (@item.PaxCount x @String.Format("{0}{1:0.00}", currencySymbol, ((item.BaseFare + item.Tax + item.Markup + item.SupplierFee)) * currencyPrice))

                                                            </td>
                                                            <td style="text-align: right; padding-top: 5px; padding-bottom: 5px;">
                                                                @String.Format("{0}{1:0.00}", currencySymbol, ((item.BaseFare + item.Tax + item.Markup + item.SupplierFee + item.BookingFee) * item.PaxCount) * currencyPrice)

                                                            </td>
                                                        </tr>

                                                        <tr><td colspan="2" style="height:1px; background:#e8e8e8; padding:0px;"></td></tr>
                                                    }
                                                }
                                                @if (extendedCancelFee > 0)
                                                {
                                                    <tr>
                                                        <td>
                                                            <strong>Extended Cancel.</strong>
                                                            <div style="color:#888888; padding:5px 0; ">
                                                                @Model.Travellers.Count Traveller(s) X @String.Format("{0}{1:0.00}", currencySymbol, (extendedCancelFee / Model.Travellers.Count) * currencyPrice)
                                                            </div>
                                                        </td>
                                                        <td style="text-align:right;">
                                                            <strong>@String.Format("{0}{1:0.00}", currencySymbol, (extendedCancelFee * currencyPrice))</strong>
                                                            <div style="color:#888888; padding:5px 0;">
                                                                @String.Format("{0}{1:0.00}", currencySymbol, (extendedCancelFee * currencyPrice))
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr><td colspan="2" style="height:1px; background:#e8e8e8; padding:0px;"></td></tr>
                                                    { totalFare = totalFare + extendedCancelFee; }
                                                }

                                                <tr>
                                                    <td colspan="2" height="10"></td>
                                                </tr>

                                                <tr>
                                                    <td style="color:#005aab; font-weight:700;">
                                                        Total Price (@currecnyType)
                                                    </td>
                                                    <td style="text-align:right; color:#005aab; font-weight:700;">
                                                        @String.Format("{0}{1:0.00}", currencySymbol, (totalFare - discount) * currencyPrice)
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>

                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <!-- Price detail End here-->
                        <!-- spacer-->
                        <tr><td height="20"></td></tr>
                        <tr>
                            <td>
                                <p style="color: #6B6B6B; font-size:12px;"> <strong>Note</strong> : We are handling your reservation and will send you the confirmation after the completion of the reservation procedure and a ticket has been issued. It would be ideal if you take a note that your purchase will be completed only when the ticket has been issued. Fares are not guaranteed until ticketed. In the rare event fares increase. @Utility.PortalSettings.PortalDetails.BrandName Don’t Own Or guarantee the fare Until ticketed.</p>
                            </td>
                        </tr>
                        <tr><td height="20"></td></tr>
                        <!-- Flight content Tnc Start here-->
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                                    <tr><td style="font-size: 16px; font-weight: 700;">Flight Booking Terms &amp; Conditions</td></tr>
                                    <tr><td height="10"></td></tr>
                                    <tr>
                                        <td style="font-size: 12px; color: #6B6B6B">Most of the airline tickets and service fees charged for booking the same are non-refundable after 24 hours of booking. Tickets may be cancelled within 24 hours and upto 3 hours before the flight departure time. A cancellation fee of $50 will be applicable for any cancellations that occur after 24 hours of making the reservation, along with any charges as per the carrier, balance would remain as a credit that expires after one year. Once a ticket is purchased, name changes are not allowed according to Airlines Policies And any changes made to the itinerary are restricted & are subject to airline fare rules.</td>
                                    </tr>

                                    <tr>
                                        <td style="font-size: 12px; color: #6B6B6B"><a href="@string.Format("{0}/terms-condition",Utility.PortalSettings.DomainUrl)" style="color:#005aab; text-decoration:none;">Terms & Conditions</a> and <a href="@string.Format("{0}/privacy-policy",Utility.PortalSettings.DomainUrl)" style="color:#005aab; text-decoration:none;">Privacy Policy</a></td>
                                    </tr>

                                    <tr><td height="20"></td></tr>

                                    <tr>
                                        <td style="color:#00236c; text-align:center;text-decoration:underline;">
                                            @Utility.PortalSettings.PortalDetails.BrandName is part of WIZFAIR.

                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <!-- Flight content Tnc End here-->

                    </table>

                </td>
            </tr>

            <tr><td height="40"></td></tr>
        </table>
        <!--  \ wrapper / -->

    </body>

</html>
}